PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/renato_portfolio
JWT_SECRET=troque_este_segredo_em_producao
JWT_EXPIRES_IN=7d
FRONTEND_URL=https://seu-dominio.com
ADMIN_EMAIL=renato.vieira@renato.com
ADMIN_PASSWORD=Transire2022
